@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f5f6fa;
}

.mission {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85vw;
  height: max-content;
  margin: 0.313rem 4.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.mission:hover {
  background-color: #e8e8e8;
}

.mission-info {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-left: 2rem;
}

.mission-name {
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.mission-description {
  display: flex;
}

.member-button {
  width: 10.5rem;
  height: max-content;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border: none;
  border-radius: 7px;
  background-color: #0290ff;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.913vw;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.join-button {
  width: 13.5rem;
  height: max-content;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border: 1px solid #000;
  border-radius: 7px;
  background-color: #fff;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.913vw;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000;
}

.is-reserved {
  background-color: green;
  color: #fff;
  font-size: 12px;
  height: max-content;
  border-radius: 4px;
  border: none;
}
