@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f5f6fa;
}

.mission {
  display: grid;
  grid-template-columns: 15% 55% 30%;
  justify-content: center;
  height: max-content;
  margin: 0.313rem 4.25rem 0;
  padding: 2rem 1.188rem 0.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.mission:hover {
  background-color: #e8e8e8;
  box-shadow: 2px 2px 2px 2px #747572;
}

.mission-name {
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.mission-description {
  display: flex;
  font-size: 0.75rem;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  border-left: 1px solid #e8e8e8;
  padding: 0 1rem;
  text-align: justify;
}

.status-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  padding: 0.5rem 0.5rem;
  border-left: 1px solid #e8e8e8;
}

.active-member {
  width: 10.5rem;
  height: max-content;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border: none;
  border-radius: 7px;
  background-color: #0290ff;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.913vw;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border-left: 1px solid #e8e8e8;
}

.not-member {
  width: 10.5rem;
  height: max-content;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border: none;
  border-radius: 7px;
  background-color: #50514f;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.913vw;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.join-button {
  width: 10.5rem;
  height: max-content;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border: 1px solid #000;
  border-radius: 7px;
  background-color: #fff;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.913vw;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000;
}

.leave-button {
  width: 10.5rem;
  height: max-content;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border: 2px solid #f25f5c;
  border-radius: 7px;
  background-color: #fff;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.913vw;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000;
}

.is-reserved {
  background-color: green;
  color: #fff;
  font-size: 12px;
  height: max-content;
  border-radius: 4px;
  border: none;
}

@media (max-width: 768px) {
  .mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.4rem;
  }

  .join-button,
  .active-member,
  .leave-button,
  .not-member {
    width: 5rem;
    font-size: 1.5vw;
    font-weight: 500;
  }
}
