nav {
  height: 6rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

/* Styling logo */
.logo {
  display: flex;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 1.575rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
  text-align: center;
  margin-left: 7.3vw;
  margin-bottom: 0.5rem;
}

.logo-img {
  margin: 0;
  padding: 0;
  transform: rotate(0deg);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  to {
    transform: rotate(360deg);
  }
}

.logo-title {
  margin: 0;
  padding: 0;
  margin-left: 0.5rem;
  transform: rotate(0deg);
  animation: logo 3s ease-in-out infinite;
}

@keyframes logo {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Styling Links */
.nav-links {
  display: flex;
  list-style: none;
  margin-left: auto;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  gap: 1rem;
  margin-right: 5.9rem;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #0496ff;
}

.nav-links li a:hover {
  color: #61dafb;
}

.nav-links li {
  position: relative;
}

.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61dafb;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
  width: 80%;
}

.profile-button {
  color: #131418;
  background-color: #61dafb;
  border: 1.5px solid #61dafb;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: 4.8vw;
}

.profile-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

/* Styling Hamburger Icon */
.hamburger div {
  width: 30px;
  height: 3px;
  background: #000;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/* Stying for small screens */
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
    height: 3rem;
    width: 100%;
  }

  .profile-button {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .logo {
    font-size: 0.75rem;
  }

  .logo-img {
    width: 70%;
    height: 30%;
  }

  @keyframes float {
    to {
      transform: rotate(360deg);
    }
  }

  .logo-title {
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    transform: rotate(0deg);
    animation: logo 3s ease-in-out infinite;
  }

  .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    -webkit-clip-path: circle(50px at 90% -10%);
    clip-path: circle(50px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    -webkit-clip-path: circle(1000px at 90% -10%);
    clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  @keyframes logo {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-5px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

/* Animating Hamburger Icon on Click */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
